@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --background: #e11e18;
    --text : #dd5c49;
    --main :#e38f85;
    --secondary : #e9c3bc;
    --stroke: #111111;

}

body{
    background-color: var(--secondary);
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.logo{
    width: 100%;
    height: 100%;
    position: relative;
}
.logo >img{
    border-radius: 100%;
    width: 15%;
    border: 2px solid var(--secondary);
    left: 42%;
    bottom: 0;
    position: absolute;
    margin-bottom: 10px;
}
header > h2{
    font-size: 42px;
    margin-top: -10px;
    color: var(--stroke);
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;   
    text-shadow: -2px 2px 2px rgba(0, 0, 0, 0.25);
}
section{
    margin-top: 50px;
}
section > .sosmed {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sosmed > a {
    margin-bottom: 20px;
    border: 1px solid var(--stroke);
    background: var(--main);
    padding: 10px;
    text-decoration: none;
    text-align: center;
    width: 50%;
    max-width: 50%;
    border-radius: 10px;
    color: var(--stroke);
    position: relative;
    top: 0;
    transition: top ease 0.05s;
}
.sosmed > a:hover{
    top: -10px;
    opacity: 70%;
}
footer{
    color: var(--stroke);
    display: flex;
    position: relative;
}
footer >p {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, 50%);
}